$bg-color:#E6E4EA;
$font-color:#fff;
$primary-color:#F84822;
$dark-overlay:rgba(0,0,0,0.5);
$icon-size:30px;
$seconary-color:#44749d;
$time-boxes-color:#585c62;
$active-color:#F84822;



body{
  background:$bg-color;
  color:$font-color;
}
.logo{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
} 
.navbar{
  border-bottom:$primary-color 3px solid;
  opacity:0.8;
  margin-bottom: 10px;
}
.active {
    color: $primary-color;
  }
    .dropbtn {
    background-color: #585C62;
      color: #9B9BA1;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
      background-color: #585C62
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown a:hover {background-color: #585C62}
  
  .show {display:block;}
  
/*tool tip ---*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
#restaurant-section{
  background:url('../img/sails-restaurant-1_lrg.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:700px;
  font-family: sans-serif;   
}
  .dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }

  .restaurant-inner{
    padding-top:150px;
  }
  .card{
      background-color:$primary-color;
    }
  .card-form{
    opacity:0.8;
  }

  .fa{
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }


#info-head-section, #share-section{
    color: $primary-color;
  .fa{
    color:#fff;
    background:#333;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}
#menu-section{
  .fa{
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}
// Open Hours & Menus //

.open-hours{
  margin-top: 75px;
  color:$seconary-color;

}

.card-body{
  border: $primary-color;
  border-width: 1px;
  i{
    color:#333;
    font-size: $icon-size;
   
  }
}
//Location---*/

 
//open hours--*/
.container-menu{
  color:$time-boxes-color;

}
.container-fluid{
  color:$time-boxes-color;
}
//menus ---*/
.menu-Start{
  margin-left: 20px;
}
//tapas SECTION---*//
#tapas-section{
  background:url('../img/viewBar153.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:700px;
  font-family: sans-serif;   
}
.darkTapas-overlay{
  background-color:$dark-overlay;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-height:700px;
}
 
.tapas-inner{
  padding-top:150px;
  text-align: center;
}
.badge{
  color:$primary-color;
}
.display-4{
text-align: center;
}

.modal-title{
  color:$time-boxes-color;
}
.modal-body{
  color:$time-boxes-color;
}
//CAFE-SECTION------*/
#cafe-section{
  background:url('../img/cafe.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:700px;
  font-family: sans-serif;   
}
.darkCafe-overlay{
  background-color:$dark-overlay;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-height:700px;
}
 .cafe-inner{
  padding-top:150px;
 }
 .fa{
  font-size: $icon-size;
  color:$primary-color;
} 
.breakfast{
  color:$font-color
}
.rads img{
  border-radius: 5px;
}
  /*CHIPPERY SECTION ---*/
  #chippery-section{
    background:url('../img/T_A+Fish+and+chips.jpg') no-repeat;
    background-size:cover;
    background-attachment:fixed;
    min-height:700px;
    font-family: sans-serif;   
  }
  .darkChippery-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }
   .chippery-inner{
    padding-top:150px;
   }
     /*FUNCTION SECTION ---*/
  #function-section{
    background:url('../img/weddings_pic.jpg') no-repeat;
    background-size:cover;
    background-attachment:fixed;
    min-height:700px;
    font-family: sans-serif;   
  }
  .darkfunction-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }
   .function-inner{
    padding-top:150px;
   }
 /*--ABOUT US SECTION ---*/  
 #about-section{
  background:url('../img/Chefs.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:700px;
  font-family: sans-serif;   
}
  .dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }

  .about-inner{
    padding-top:150px;
  }
/* EVENTS SECTION ---*/
#events-section{
  background:url('../img/Event-planners.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:700px;
  font-family: sans-serif;   
}
  .dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }

  .events-inner{
    padding-top:150px;
  }
/* CONTACT US SECTION ---*/

#contact-section{
  background:url('../img/team.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height:700px;
  font-family: sans-serif;   
}
  .dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }

  .contact-inner{
    padding-top:150px;
  }
/*restaurantMenu-----*/
/* four image containers use 25% for four, and 50% for two, etc */
* {
  box-sizing: border-box;
}

.column {
  width: 20%;
  padding: 0px;
}

/* Clearfix clear floats */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
      width: 100%;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 1rem;
    line-height: 1.25;
  }
  }
  @media screen and (max-width: 600px) {
  body {
    font-size: .6rem;
    line-height: 1.00;
  }
  }
/* The Modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*CAFE -MODAL---*/
/* Modal Content/Box */
.modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color:$time-boxes-color;
  text-align: center;
}
.modal-text{
  text-align: justify !important;
  margin-left: auto;
}

/* The Close Button */
.close {
  color:$primary-color;
  float: center;
  font-size: 18px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $seconary-color;
  text-decoration: none;
  cursor: pointer;
}
#myBtn{
  background-color: $primary-color;
  color:$font-color;
  text-align: center;
  width:120px;
  margin-left:150px;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  }
  .container-margin{
    margin-top: 20px;
    background-color:$bg-color;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.responsive {
  width: 100%;
  height: auto;
}

/* FOOTER --*/
.content {
  max-width: 600px;
  margin: auto;
 
}
/* FOOTER --*/

.footer-text{
  color: #767676;
  text-align: center;
  }
  .copy{
  text-align: center;
  color: #767676;
  }

